<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static',filename='logo.png') }}" alt="University Logo" class="logo">
            <h1>TA Management Suite - Instructor</h1>
            <div class="header-links">
                <a href="#">Help Desk</a> | 
                <a href="#">System Status</a>
            </div>
        </header>
        
        
        <section class="form-container">
            <h2>REGISTER WITH YOUR DETAILS</h2>
            <form action="http://localhost:5555/TAManagementSuite/Instructor/RegisterUser" method ="get">
            <input type="text" name="full_name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="user_id" placeholder="User ID" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit" class="action-button" href="http://localhost:5555/TAManagementSuite/Instructor/RegisterUser">REGISTER</button>
        </form>


            <div class="help-links">
                <a href="http://localhost:5555/TAManagementSuite/Instructor/Login">Already have an account? Sign In</a>
            </div>
        </section>
        
        
        <footer>
            <p>&copy; TA Management Suite</p>
        </footer>
    </div>
    <script src="script.js"></script>
</body>
</html>
